# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.npmrc
tsconfig.tsbuildinfo

.env
/cards/
/config/
/config-backup/
/plugins/
/user/
/apps/dist/client
/apps/dist/server
/apps/dist/bin
/apps/dist/log.txt
/apps/**/lib
/adapters/**/lib
/packages/**/lib
/packages/dicecore/src/test/plugins/
