@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-base-200;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 1280px;
}

code {
  @apply bg-info text-info-content;
  font-size: 0.875rem;
  padding: 0.0625rem 0.25rem;
  margin: 0 0.25rem;
  border-radius: 0.25rem;
}

/* 应该是 tailwind 新版本特性 */
.divider-y > * + * {
  border-top-width: 1px;
  border-bottom-width: 0px;
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300;
}

input[type=color] {
  background: none;
}
